.admin-register-container {
    margin-top: -50px;
    padding: 0;
    background-color: #188fff59;
}
.admin-register {
    margin: 0;
    width: 100%;
}

.admin-title {
    background-color: rgb(187, 32, 32);
    margin:0 px;
    padding-top: 20px;
    padding-bottom: 20px;
  
    text-align: center;
    h1 {
        margin:0px;
        color:white;
    }
}

.admin-register-link {
    background-color: white;
}